{% extends "layout.html" %}

{% block content %}

            <section class="main">
                <section class="articles">
                    <article>
                        <center><h2>Prestamistas Strauss</h2></center>
                        <br>    
                        <center><p>Somos una pequeña empresa de prestamos en crecimiento.</p></center>
                        <br>
                       </p>
                    </article>
                </section>
            
            </section>
            <footer>
                <p>© 2022 Cetis 155 Informatica Todos los derechos reservados.</p>
            </footer>
        </body>
        {% endblock %}
</html>