<!Doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Prestamistas Strauss</title>
    <link rel="shortcut icon" href="/static/Imagenes/logo.jpg">
    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
    </head>
    <body>
        <div id="particles-js"></div>
        <header>
            <nav class="navegacion">
                <ul class="menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/personal">Nosotros</a></li>
                    <li><a>Servicios</a>
                        <ul class="submenu">
                            <li><a href="/area ">Area</a></li>
                            <li><a href="/escolaridad">Escolaridad</a></li>
                            <li><a href="/estadocivil">Estado Civil</a></li>
                            <li><a href="/carrera">Carrera</a></li>
                            <li><a href="/grado">Grado de Avance</a></li>
                            <li><a href="/habilidades">Habilidades</a></li>
                            <li><a href="/idioma">Idioma</a></li>
                            <li><a href="/medio">Medio de publicidad</a></li>
                            <li><a href="/documentos">Documentos Solicitados</a></li>
                            <li><a href="/puesto">Puesto</a></li>
                            <li><a>Requisicion</a>
                            <ul>
								<li><a href="/req_agregar">Nueva Requisicion</a></li>
								<li><a href="/pendientes">Pendientes de autorizacion</a></li>
								<li><a href="/autorizadas">Autorizadas</a></li>
							</ul>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </body>
    <!-- JS Particles.js -->
    <script src="/static/js/particles.min.js"></script>
    <script src="/static/js/app.js"></script>

    <!-- JS FontAwesome -->
    <script src="https://kit.fontawesome.com/a2e8d0339c.js"></script>
 {% block content %}
 {% endblock %}

</body>
</html>